body{
	background:#d3d3d3;
}

#main{
	/*width			:		1000px;*/
	/*height		:		1000px;*/
	border		:		1px solid black;
	/*margin		:		0 auto;*/
	/*width				:		255px;*/
	/*height			:		255px;*/
	/*display			:		none;*/
}

#dhaakon-sketch-container{
	/*width			:		100%;*/
	/*height		:		100%;*/
	/*width				:		255px;*/
	/*height			:		255px;*/
}

#svgElement{
	display		:		none;
}
