/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "loader";
@import "compass/css3/transform";

@import "bourbon/bourbon";
@import "neat/neat";


body, html{
	/*height							:				100%;*/
}

$sand		:		rgba(242,236,223,1);
$gold		:		rgba(172,166,153,0.8);

body{
	@include radial-gradient($gold, $sand, $fallback: $sand);
}
@import "tgs";

#content{
	position				:	absolute;
	height					:	auto;
	width						:	140px;
	display					:	block;
	background			:	rgba( 255, 255, 255, 0.85 );
	/*box-shadow	:	0px 0px 12px rgba( 0, 0, 0, 0.26);*/
	padding-bottom	:	12px;
	border-radius		:	12px;
	border					:	2px solid #d3d3d3;
	padding-left		:	12px;
	padding-right		:	12px;
	left						:	40px;
	top							:	40px;
	z-index					:	100;
}

h1, span{
	font-size				:	14px;
	text-transform	:	capitalize;
	text-align			:	center;
	font-family			:	'Helvetica';
}

h1 {
	text-decoration :	underline;
	font-weight			:	bold;
	margin-top			:	12px;
}

span{
	width						:	100%;
	padding-top			:	4px;
	padding-bottom	:	3px;
	display					:	block;
	font-size				:	12px;
}

#marker-canvas{
	position				:	absolute;
	z-index					:	100;
}

#svg-map{
	position				:	absolute;
	z-index					:	1;
}
