#main{
	width				:		auto;
	height			:		auto;
	margin			:		0 auto;
	display			:		block;
	/*margin-top	:		50px;*/
}

#map-container{
	margin	:		0 auto;
	width		:		100%;
	height	:		100%;
}
#marker-canvas{
	/*-webkit-transform		:		scale3d(2,2,2);*/
}
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.location{
	opacity:0.5;
	-webkit-animation-name: pulse;
	-webkit-animation-duration:	1s;
}

@-webkit-keyframes pulse{
	0%{
		/*-webkit-transform: scale3d(1,1,1);*/
		transform:scale(1);
	}
	100%{
		/*-webkit-transform: scale3d(4,4,4);*/
		transform:scale(3);
	}
}

#fb_app {
	position: absolute;
	z-index: 20000;
	bottom: 20px;
	left: 30px;
}

.mvs{
	opacity:0 !important;
}

$grades : 4;

@while $grades > 0{
	$i:$grades + 8;
	.grade-#{$i}{
		opacity:1;
	}
	$grades: $grades - 1;
}

#location-title{
	position	:		absolute;
	width			:		100%;
	bottom		:		20px;
	text-align	:		center;
	z-index		:		1000;
	opacity				:	0;
	/*-webkit-transition	:		all 400ms ease-in;*/
	/*-webkit-transition-delay : 1000ms;*/
	p{
		color		: white;
		font-size		:		40px;
		font-weight		:		bold;
		font-family		:		Helvetica;
		text-shadow		:		4px 4px 4px rgba(0,0,0,0.4);
	}
}

// PANEL

.marker-type{
	position	:		relative;

	.icon{
		$size: 26px;
		width: $size;
		height: $size;
		display:block;
		/*float:left;*/
		border-radius: $size/2;
		position:absolute;
		left:8px;
		top: 6px;
	}
	li{
		display:block;
		background:#d3d3e3;
		position:relative;
		/*width:70%;*/
		margin:10px;
		float:right;
		/*padding:5px;*/
		width:110px;
		height:40px;
		border: 1px solid #d3d3d3;
		border-radius:5px;
	}
	h2{
		padding-right:15px;
		text-align:center;
		position:relative;
		float:right;
		display:inline-block;
		font-family:Helvetica;
		line-height : 38px;
		font-size		: 12px;
		/*text-transform : uppercase;*/
	}
}

.panel{
	/*width				:		300px;*/
	/*height			:		200px;*/
	display			:		block;
	background	:		rgba(230,240,220,0.65);
	position		:		absolute;
	z-index			:		3000;
}

.people{
	bottom			:		50px;
	right				:		50px;
	padding			:		20px;
}

.year{
	bottom			:		180px;
	right				:		50px;
	padding			:		20px;
}

.dropdown{
	position		:		relative;
	display			:		block;
}
