@import "bourbon/css3/font-face";

@font-face{
	font-family:'Gotham'; 
	src:url('/assets/fonts/Gotham-Medium.otf');
}

#main{
	width				:		auto;
	height			:		auto;
	margin			:		0 auto;
	display			:		block;
	position		:		relative;
	/*margin-top	:		50px;*/
}

#map-container{
	margin	:		0 auto;
	width		:		100%;
	height	:		100%;
	position:		relative;
	/*margin-top:	45px;*/
	/*border	:		1px solid #c42032;*/
}
#marker-canvas{
	/*-webkit-transform		:		scale3d(2,2,2);*/
}
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #fff;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.location{
	opacity:0.5;
	-webkit-animation-name: pulse;
	-webkit-animation-duration:	1s;
}

@-webkit-keyframes pulse{
	0%{
		/*-webkit-transform: scale3d(1,1,1);*/
		transform:scale(1);
	}
	100%{
		/*-webkit-transform: scale3d(4,4,4);*/
		transform:scale(3);
	}
}

#fb_app {
	position: absolute;
	z-index: 20000;
	bottom: 20px;
	left: 30px;
}

.mvs{
	opacity:0 !important;
}

$grades : 4;

@while $grades > 0{
	$i:$grades + 8;
	.grade-#{$i}{
		opacity:1;
	}
	$grades: $grades - 1;
}
#location-title-container{
	position: absolute;
	width		:		100%;
	z-index		:		1000;
	bottom	:		40px;
}

#location-title{
	/*position	:		absolute;*/
	/*width			:		200px;*/
	bottom		:		20px;
	text-align	:		center;
	margin:40px;

	opacity				:	0;
	margin		:		0 auto;
	background	:		rgba(242,236,223,1);

	/*-webkit-transition	:		all 400ms ease-in;*/
	/*-webkit-transition-delay : 1000ms;*/
	p{
		color		: grey;
		font-size		:		20px;
		font-weight		:		bold;
		font-family		:		'Gotham';
		border: 3px solid lightGrey;
		/*box-shadow: 0px 0px 11px rgba(0,0,0,0.2);*/
		padding: 14px;
		/*text-shadow		:		4px 4px 4px rgba(0,0,0,0.4);*/
	}
}
// Marker
#marker{
	background	: url('/assets/images/marker.png');
	display			:	block;
	position		:	absolute;
	z-index			:	1000;
	width				:	50px;
	height			:	50px;
	opacity			:	0;
	-webkit-transition: 200ms opacity ease-in;
	/*-webkit-transform: scale(0.5);*/
}
#marker-icon{
	background	: rgba(242,236,223,0.6);
	position		:		absolute;
	width				:		48px;
	height			:		48px;
	z-index			:		5000;
	right				:		30px;
	bottom			:		40px;
	border-radius:2px;
	border			:1px solid #d3d3d3;

	.active{
		background	:		rgba(142,136,123, 0.6);
		opacty			:		1;
	}
	

	img{
			width:28px;
			height:28px;
			margin:10px;
			opacity: 0.6;
	}

}

.inactive{
	/*margin			:		20px;*/
	opacity			:		0.6;
}


#marker-icon:hover{
	opacity :		1;
}
header{
	/*box-shadow: 0px 1px 40px rgba(0,0,0,0.2);*/
	height:75px;
	padding-bottom:40px;
	background: rgba(242,236,223,1);
	border-bottom: 4px solid #c42032;
}

//LOGO
#logo{
	position: relative;
	margin: 0 auto;
	width: 300px;
	background: url('/assets/images/tgs_logo_medium.png');
	z-index:3000;
	height:75px
}



// PANEL

.marker-type{
	position	:		relative;
	width			:		148px;

	.icon{
		$size: 16px;
		width: $size;
		height: $size;
		display:block;
		/*float:left;*/
		border-radius: $size/2;
		position:absolute;
		left:8px;
		top: 6px;
	}
	li{
		display:block;
		background:rgba(255,255,233,0.6);
		position:relative;
		/*width:70%;*/
		margin-top:5px;
		float:right;
		/*padding:5px;*/
		width:150px;
		height:30px;
		border: 1px solid #d3d3d3;
		border-radius:5px;
		color		:		grey;
	}
	h2{
		padding-right:15px;
		text-align:center;
		position:relative;
		/*float:right;*/
		text-indent:24px;
		display:inline-block;
		font-family:'Gotham';
		line-height : 28px;
		font-size		: 12px;
		text-transform:uppercase;
		/*text-transform : uppercase;*/
	}
	.heading{
		border:0px;
		background	:		none;
		color				:		black;
		border-bottom: 1px solid #d3d3d3;
		
	}
}

.panel{
	border: 1px solid #d3d3d3;

	width				:		auto;
	text-align	:		center;
	/*height			:		200px;*/
	display			:		block;
	background	:		rgba(242,236,223,1);
	position		:		absolute;
	z-index			:		3000;
	border-radius:4px;
}

.people{
	bottom			:		40px;
	left				:		30px;
	padding: 10px;
	padding-top: 8px;
}

.year{
	bottom			:		50px;
	right				:		50px;
	padding			:		20px;
	display			:		none;
}

.dropdown{
	position		:		relative;
	display			:		block;
}

.student{
	fill:rgba(128,130,133,1);
}
.faculty{
	fill:rgba(222,186,81,1);
}
.location{
	fill:rgba(196,18,48,1);
}
.tedxteen{
	fill:rgba(210,100,54,1);
}
.facebook{
	fill:rgba(65,121,151,1);
}

.future-location{
	fill:rgba(160,57,62,1);
}

.past-location{
	fill				:		rgba(91,164,174,1);
}

$cntry : rgba(172,166,153,0.5);

.country{
	fill:$cntry !important;
}

.marker-type h3{
	font-family	: "Gotham";
	font-size		:	12px;
	margin			:	10px auto;
	display			:	block;

	:first-child{
		margin-top:0px;
	}
	
}
