extends layout

block content
	#map-container
	#content
		span#tour-title
			h1 booking id 
			span null
		span#booker-city
			h1 booker city
			span null
		span#tour-city
			h1 tour city
			span null
