doctype html
html
	head
		title= title 
		link(rel='stylesheet', href='/stylesheets/screen.css')
		script(src='/javascripts/d3.min.js')
		script(src='/javascripts/catiline.min.js')
		script(src='/javascripts/jquery.min.js')
		script(src='/javascripts/topojson.min.js')
		script(src='/javascripts/EventEmitter.min.js')
		//-script(src='/javascripts/backbone-min.js')
		script(src='/javascripts/underscore-min.js')
		script(src='/javascripts/d3-geo-projections.min.js')
		block added-scripts

	body
		block content
