extends layout

block added-scripts
	script(src='/javascripts/Main.js')
	- if (facebook)
		script(src="http://connect.facebook.net/en_US/all.js")


block content
	include loader
	include url_config_javascript

	- if (facebook != null)
		include fb_sdk

	div#main 
		div#map-container
	div#location-title
	div.panel.people
		ul.marker-type
			li#student
				span.icon(style='background:rgba(128,130,133,1);')
				h2 Students
			li#faculty
				span.icon(style='background:rgba(222,186,81,1);')
				h2 Staff
			li#current-location
				span.icon(style='background:rgba(196,18,48,1);')
				h2 Current
			li#past-location
				span.icon(style='background:rgba(91,164,174,1);')
				h2 Past
			li#future-location
				span.icon(style='background:rgba(160,57,62,1);')
				h2 Future
			li#tedxteen
				span.icon(style='background:rgba(210,100,54,1);')
				h2 TedXTeen
			li#facebook
				span.icon(style='background:rgba(65,121,151,1);')
				h2 Facebook

	div.panel.year
		div.dropdown
			select(id='year-dropdown')
				option(value='.y2010-y2011') 2010-2011
				option(value='.y2011-y2012') 2011-2012
				option(value='.y2012-y2013') 2012-2013
				option(value='.y2013-y2014') 2013-2014


