extends layout

block added-scripts
	script(src='/javascripts/Main.js')

block content
	include loader
	div#main 
		div#map-container(data-renderer= renderer, data-scale= scale, data-projectionKey= projectionKey)
