/* line 1, ../../src/sass/dev.scss */
#dev, #output {
  height: 50%;
  /*position		:		absolute;*/
  display: inline;
}

/* line 8, ../../src/sass/dev.scss */
#dev {
  bottom: 0px;
  border-top: 1px solid white;
  line-height: 14px;
}

/* line 13, ../../src/sass/dev.scss */
#output {
  top: 0px;
}

/* line 18, ../../src/sass/dev.scss */
.CodeMirror {
  height: 100%;
}

/* line 22, ../../src/sass/dev.scss */
.CodeMirror pre {
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  text-align: left;
}
