#dev,#output{height:50%;display:inline}#dev{bottom:0px;border-top:1px solid white;line-height:14px}#output{top:0px}.CodeMirror{height:100%}.CodeMirror pre{white-space:pre-wrap;word-break:break-all;word-wrap:break-word;text-align:left}
