/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.13.alpha.10/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*$ease    : cubic-bezier( $a, $b, $c, $d );*/
/* line 63, ../../src/sass/loader.scss */
li {
  display: block;
  background: #777777;
  position: absolute;
}

/* line 71, ../../src/sass/loader.scss */
#loader-container {
  width: 130px;
  margin: auto;
  opacity: 1;
  border-radius: 5px;
  position: absolute;
  top: 42%;
  left: 46%;
  /*border						:		1px solid #d3d3d3;*/
  /*background				:		$bg;*/
  /*box-shadow				:		0px 0px 16px 2px rgba( 150, 150, 200, 0.1);*/
  -moz-animation: fade-in 200ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: 1;
  -moz-animation-delay: 0;
  -moz-animation-fill-mode: normal;
  -o-animation: fade-in 200ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: 1;
  -o-animation-delay: 0;
  -o-animation-fill-mode: normal;
  -webkit-animation: fade-in 200ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-delay: 0;
  -webkit-animation-fill-mode: normal;
  -ms-animation: fade-in 200ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: 1;
  -ms-animation-delay: 0;
  -ms-animation-fill-mode: normal;
}

/* line 92, ../../src/sass/loader.scss */
#loader {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  display: block;
  position: relative;
  background: none;
}

/* line 101, ../../src/sass/loader.scss */
#loader li:nth-child(1) {
  /*opacity			 : $i/30;*/
  -moz-transform: translate3d(0px, 0px, 1em);
  -webkit-transform: translate3d(0px, 0px, 1em);
  transform: translate3d(0px, 0px, 1em);
  width: 1.1px;
  height: 1.1px;
  left: 44.95px;
  top: 4.95px;
  border-radius: 0.55px;
  -moz-animation: animate-round 1100ms ease-in-out forwards;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 472ms;
  -moz-animation-fill-mode: both;
  -o-animation: animate-round 1100ms ease-in-out forwards;
  -o-animation-direction: normal;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 472ms;
  -o-animation-fill-mode: both;
  -webkit-animation: animate-round 1100ms ease-in-out forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 472ms;
  -webkit-animation-fill-mode: both;
  -ms-animation: animate-round 1100ms ease-in-out forwards;
  -ms-animation-direction: normal;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 472ms;
  -ms-animation-fill-mode: both;
}

/* line 101, ../../src/sass/loader.scss */
#loader li:nth-child(2) {
  /*opacity			 : $i/30;*/
  -moz-transform: translate3d(0px, 0px, 1em);
  -webkit-transform: translate3d(0px, 0px, 1em);
  transform: translate3d(0px, 0px, 1em);
  width: 2.2px;
  height: 2.2px;
  left: 44.4px;
  top: 4.4px;
  border-radius: 1.1px;
  -moz-animation: animate-round 1100ms ease-in-out forwards;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 444ms;
  -moz-animation-fill-mode: both;
  -o-animation: animate-round 1100ms ease-in-out forwards;
  -o-animation-direction: normal;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 444ms;
  -o-animation-fill-mode: both;
  -webkit-animation: animate-round 1100ms ease-in-out forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 444ms;
  -webkit-animation-fill-mode: both;
  -ms-animation: animate-round 1100ms ease-in-out forwards;
  -ms-animation-direction: normal;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 444ms;
  -ms-animation-fill-mode: both;
}

/* line 101, ../../src/sass/loader.scss */
#loader li:nth-child(3) {
  /*opacity			 : $i/30;*/
  -moz-transform: translate3d(0px, 0px, 1em);
  -webkit-transform: translate3d(0px, 0px, 1em);
  transform: translate3d(0px, 0px, 1em);
  width: 3.3px;
  height: 3.3px;
  left: 43.85px;
  top: 3.85px;
  border-radius: 1.65px;
  -moz-animation: animate-round 1100ms ease-in-out forwards;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 416ms;
  -moz-animation-fill-mode: both;
  -o-animation: animate-round 1100ms ease-in-out forwards;
  -o-animation-direction: normal;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 416ms;
  -o-animation-fill-mode: both;
  -webkit-animation: animate-round 1100ms ease-in-out forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 416ms;
  -webkit-animation-fill-mode: both;
  -ms-animation: animate-round 1100ms ease-in-out forwards;
  -ms-animation-direction: normal;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 416ms;
  -ms-animation-fill-mode: both;
}

/* line 101, ../../src/sass/loader.scss */
#loader li:nth-child(4) {
  /*opacity			 : $i/30;*/
  -moz-transform: translate3d(0px, 0px, 1em);
  -webkit-transform: translate3d(0px, 0px, 1em);
  transform: translate3d(0px, 0px, 1em);
  width: 4.4px;
  height: 4.4px;
  left: 43.3px;
  top: 3.3px;
  border-radius: 2.2px;
  -moz-animation: animate-round 1100ms ease-in-out forwards;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 388ms;
  -moz-animation-fill-mode: both;
  -o-animation: animate-round 1100ms ease-in-out forwards;
  -o-animation-direction: normal;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 388ms;
  -o-animation-fill-mode: both;
  -webkit-animation: animate-round 1100ms ease-in-out forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 388ms;
  -webkit-animation-fill-mode: both;
  -ms-animation: animate-round 1100ms ease-in-out forwards;
  -ms-animation-direction: normal;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 388ms;
  -ms-animation-fill-mode: both;
}

/* line 101, ../../src/sass/loader.scss */
#loader li:nth-child(5) {
  /*opacity			 : $i/30;*/
  -moz-transform: translate3d(0px, 0px, 1em);
  -webkit-transform: translate3d(0px, 0px, 1em);
  transform: translate3d(0px, 0px, 1em);
  width: 5.5px;
  height: 5.5px;
  left: 42.75px;
  top: 2.75px;
  border-radius: 2.75px;
  -moz-animation: animate-round 1100ms ease-in-out forwards;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 360ms;
  -moz-animation-fill-mode: both;
  -o-animation: animate-round 1100ms ease-in-out forwards;
  -o-animation-direction: normal;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 360ms;
  -o-animation-fill-mode: both;
  -webkit-animation: animate-round 1100ms ease-in-out forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 360ms;
  -webkit-animation-fill-mode: both;
  -ms-animation: animate-round 1100ms ease-in-out forwards;
  -ms-animation-direction: normal;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 360ms;
  -ms-animation-fill-mode: both;
}

/* line 101, ../../src/sass/loader.scss */
#loader li:nth-child(6) {
  /*opacity			 : $i/30;*/
  -moz-transform: translate3d(0px, 0px, 1em);
  -webkit-transform: translate3d(0px, 0px, 1em);
  transform: translate3d(0px, 0px, 1em);
  width: 6.6px;
  height: 6.6px;
  left: 42.2px;
  top: 2.2px;
  border-radius: 3.3px;
  -moz-animation: animate-round 1100ms ease-in-out forwards;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 332ms;
  -moz-animation-fill-mode: both;
  -o-animation: animate-round 1100ms ease-in-out forwards;
  -o-animation-direction: normal;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 332ms;
  -o-animation-fill-mode: both;
  -webkit-animation: animate-round 1100ms ease-in-out forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 332ms;
  -webkit-animation-fill-mode: both;
  -ms-animation: animate-round 1100ms ease-in-out forwards;
  -ms-animation-direction: normal;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 332ms;
  -ms-animation-fill-mode: both;
}

/* line 101, ../../src/sass/loader.scss */
#loader li:nth-child(7) {
  /*opacity			 : $i/30;*/
  -moz-transform: translate3d(0px, 0px, 1em);
  -webkit-transform: translate3d(0px, 0px, 1em);
  transform: translate3d(0px, 0px, 1em);
  width: 7.7px;
  height: 7.7px;
  left: 41.65px;
  top: 1.65px;
  border-radius: 3.85px;
  -moz-animation: animate-round 1100ms ease-in-out forwards;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 304ms;
  -moz-animation-fill-mode: both;
  -o-animation: animate-round 1100ms ease-in-out forwards;
  -o-animation-direction: normal;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 304ms;
  -o-animation-fill-mode: both;
  -webkit-animation: animate-round 1100ms ease-in-out forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 304ms;
  -webkit-animation-fill-mode: both;
  -ms-animation: animate-round 1100ms ease-in-out forwards;
  -ms-animation-direction: normal;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 304ms;
  -ms-animation-fill-mode: both;
}

/* line 101, ../../src/sass/loader.scss */
#loader li:nth-child(8) {
  /*opacity			 : $i/30;*/
  -moz-transform: translate3d(0px, 0px, 1em);
  -webkit-transform: translate3d(0px, 0px, 1em);
  transform: translate3d(0px, 0px, 1em);
  width: 8.8px;
  height: 8.8px;
  left: 41.1px;
  top: 1.1px;
  border-radius: 4.4px;
  -moz-animation: animate-round 1100ms ease-in-out forwards;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 276ms;
  -moz-animation-fill-mode: both;
  -o-animation: animate-round 1100ms ease-in-out forwards;
  -o-animation-direction: normal;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 276ms;
  -o-animation-fill-mode: both;
  -webkit-animation: animate-round 1100ms ease-in-out forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 276ms;
  -webkit-animation-fill-mode: both;
  -ms-animation: animate-round 1100ms ease-in-out forwards;
  -ms-animation-direction: normal;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 276ms;
  -ms-animation-fill-mode: both;
}

/* line 101, ../../src/sass/loader.scss */
#loader li:nth-child(9) {
  /*opacity			 : $i/30;*/
  -moz-transform: translate3d(0px, 0px, 1em);
  -webkit-transform: translate3d(0px, 0px, 1em);
  transform: translate3d(0px, 0px, 1em);
  width: 9.9px;
  height: 9.9px;
  left: 40.55px;
  top: 0.55px;
  border-radius: 4.95px;
  -moz-animation: animate-round 1100ms ease-in-out forwards;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 248ms;
  -moz-animation-fill-mode: both;
  -o-animation: animate-round 1100ms ease-in-out forwards;
  -o-animation-direction: normal;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 248ms;
  -o-animation-fill-mode: both;
  -webkit-animation: animate-round 1100ms ease-in-out forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 248ms;
  -webkit-animation-fill-mode: both;
  -ms-animation: animate-round 1100ms ease-in-out forwards;
  -ms-animation-direction: normal;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 248ms;
  -ms-animation-fill-mode: both;
}

/* line 101, ../../src/sass/loader.scss */
#loader li:nth-child(10) {
  /*opacity			 : $i/30;*/
  -moz-transform: translate3d(0px, 0px, 1em);
  -webkit-transform: translate3d(0px, 0px, 1em);
  transform: translate3d(0px, 0px, 1em);
  width: 11px;
  height: 11px;
  left: 40px;
  top: 0px;
  border-radius: 5.5px;
  -moz-animation: animate-round 1100ms ease-in-out forwards;
  -moz-animation-direction: normal;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 220ms;
  -moz-animation-fill-mode: both;
  -o-animation: animate-round 1100ms ease-in-out forwards;
  -o-animation-direction: normal;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 220ms;
  -o-animation-fill-mode: both;
  -webkit-animation: animate-round 1100ms ease-in-out forwards;
  -webkit-animation-direction: normal;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 220ms;
  -webkit-animation-fill-mode: both;
  -ms-animation: animate-round 1100ms ease-in-out forwards;
  -ms-animation-direction: normal;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 220ms;
  -ms-animation-fill-mode: both;
}

/* simple-transform($scale, $rotate, $trans-x, $trans-y, $skew-x, $skew-y, $origin-x, $origin-y) */
/*sin(180) * $radius + px;*/
/*cos(180) * $radius + px;*/
/* line 145, ../../src/sass/loader.scss */
#title {
  width: 75px;
  margin: 0 auto;
  font-family: HelveticaNeue, sans-serif;
  font-size: 0.6em;
  letter-spacing: 2px;
  margin-top: 26px;
  color: #777777;
  text-transform: uppercase;
}

/* line 156, ../../src/sass/loader.scss */
#title p {
  display: inline;
}

/* line 161, ../../src/sass/loader.scss */
#title p:nth-child(1) {
  opacity: 0.45;
  -moz-animation: shimmer 800ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 535ms;
  -moz-animation-fill-mode: backwards;
  -o-animation: shimmer 800ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 535ms;
  -o-animation-fill-mode: backwards;
  -webkit-animation: shimmer 800ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 535ms;
  -webkit-animation-fill-mode: backwards;
  -ms-animation: shimmer 800ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 535ms;
  -ms-animation-fill-mode: backwards;
}

/* line 161, ../../src/sass/loader.scss */
#title p:nth-child(2) {
  opacity: 0.4;
  -moz-animation: shimmer 800ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 570ms;
  -moz-animation-fill-mode: backwards;
  -o-animation: shimmer 800ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 570ms;
  -o-animation-fill-mode: backwards;
  -webkit-animation: shimmer 800ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 570ms;
  -webkit-animation-fill-mode: backwards;
  -ms-animation: shimmer 800ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 570ms;
  -ms-animation-fill-mode: backwards;
}

/* line 161, ../../src/sass/loader.scss */
#title p:nth-child(3) {
  opacity: 0.35;
  -moz-animation: shimmer 800ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 605ms;
  -moz-animation-fill-mode: backwards;
  -o-animation: shimmer 800ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 605ms;
  -o-animation-fill-mode: backwards;
  -webkit-animation: shimmer 800ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 605ms;
  -webkit-animation-fill-mode: backwards;
  -ms-animation: shimmer 800ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 605ms;
  -ms-animation-fill-mode: backwards;
}

/* line 161, ../../src/sass/loader.scss */
#title p:nth-child(4) {
  opacity: 0.3;
  -moz-animation: shimmer 800ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 640ms;
  -moz-animation-fill-mode: backwards;
  -o-animation: shimmer 800ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 640ms;
  -o-animation-fill-mode: backwards;
  -webkit-animation: shimmer 800ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 640ms;
  -webkit-animation-fill-mode: backwards;
  -ms-animation: shimmer 800ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 640ms;
  -ms-animation-fill-mode: backwards;
}

/* line 161, ../../src/sass/loader.scss */
#title p:nth-child(5) {
  opacity: 0.25;
  -moz-animation: shimmer 800ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 675ms;
  -moz-animation-fill-mode: backwards;
  -o-animation: shimmer 800ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 675ms;
  -o-animation-fill-mode: backwards;
  -webkit-animation: shimmer 800ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 675ms;
  -webkit-animation-fill-mode: backwards;
  -ms-animation: shimmer 800ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 675ms;
  -ms-animation-fill-mode: backwards;
}

/* line 161, ../../src/sass/loader.scss */
#title p:nth-child(6) {
  opacity: 0.2;
  -moz-animation: shimmer 800ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 710ms;
  -moz-animation-fill-mode: backwards;
  -o-animation: shimmer 800ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 710ms;
  -o-animation-fill-mode: backwards;
  -webkit-animation: shimmer 800ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 710ms;
  -webkit-animation-fill-mode: backwards;
  -ms-animation: shimmer 800ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 710ms;
  -ms-animation-fill-mode: backwards;
}

/* line 161, ../../src/sass/loader.scss */
#title p:nth-child(7) {
  opacity: 0.15;
  -moz-animation: shimmer 800ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 745ms;
  -moz-animation-fill-mode: backwards;
  -o-animation: shimmer 800ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 745ms;
  -o-animation-fill-mode: backwards;
  -webkit-animation: shimmer 800ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 745ms;
  -webkit-animation-fill-mode: backwards;
  -ms-animation: shimmer 800ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 745ms;
  -ms-animation-fill-mode: backwards;
}

/* line 161, ../../src/sass/loader.scss */
#title p:nth-child(8) {
  opacity: 0.1;
  -moz-animation: shimmer 800ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 780ms;
  -moz-animation-fill-mode: backwards;
  -o-animation: shimmer 800ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 780ms;
  -o-animation-fill-mode: backwards;
  -webkit-animation: shimmer 800ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 780ms;
  -webkit-animation-fill-mode: backwards;
  -ms-animation: shimmer 800ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 780ms;
  -ms-animation-fill-mode: backwards;
}

/* line 161, ../../src/sass/loader.scss */
#title p:nth-child(9) {
  opacity: 0.05;
  -moz-animation: shimmer 800ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 815ms;
  -moz-animation-fill-mode: backwards;
  -o-animation: shimmer 800ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 815ms;
  -o-animation-fill-mode: backwards;
  -webkit-animation: shimmer 800ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 815ms;
  -webkit-animation-fill-mode: backwards;
  -ms-animation: shimmer 800ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 815ms;
  -ms-animation-fill-mode: backwards;
}

/* line 161, ../../src/sass/loader.scss */
#title p:nth-child(10) {
  opacity: 0;
  -moz-animation: shimmer 800ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 850ms;
  -moz-animation-fill-mode: backwards;
  -o-animation: shimmer 800ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 850ms;
  -o-animation-fill-mode: backwards;
  -webkit-animation: shimmer 800ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 850ms;
  -webkit-animation-fill-mode: backwards;
  -ms-animation: shimmer 800ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 850ms;
  -ms-animation-fill-mode: backwards;
}

/* line 161, ../../src/sass/loader.scss */
#title p:nth-child(11) {
  opacity: -0.05;
  -moz-animation: shimmer 800ms ease-in-out forwards;
  -moz-animation-direction: alternate;
  -moz-animation-iteration-count: infinite;
  -moz-animation-delay: 885ms;
  -moz-animation-fill-mode: backwards;
  -o-animation: shimmer 800ms ease-in-out forwards;
  -o-animation-direction: alternate;
  -o-animation-iteration-count: infinite;
  -o-animation-delay: 885ms;
  -o-animation-fill-mode: backwards;
  -webkit-animation: shimmer 800ms ease-in-out forwards;
  -webkit-animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-delay: 885ms;
  -webkit-animation-fill-mode: backwards;
  -ms-animation: shimmer 800ms ease-in-out forwards;
  -ms-animation-direction: alternate;
  -ms-animation-iteration-count: infinite;
  -ms-animation-delay: 885ms;
  -ms-animation-fill-mode: backwards;
}

@-moz-keyframes animate-round {
  /* line 177, ../../src/sass/loader.scss */
  0% {
    -moz-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -moz-transform-origin: 0px 40px;
    -ms-transform-origin: 0px 40px;
    -o-transform-origin: 0px 40px;
    -webkit-transform-origin: 0px 40px;
    transform-origin: 0px 40px;
    background: #777777;
    opacity: 1;
  }

  /* line 181, ../../src/sass/loader.scss */
  15% {
    opacity: 1;
  }

  /* line 183, ../../src/sass/loader.scss */
  50% {
    opacity: 1;
    background: #000064;
  }

  /* line 186, ../../src/sass/loader.scss */
  100% {
    -moz-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -moz-transform-origin: 0px 40px;
    -ms-transform-origin: 0px 40px;
    -o-transform-origin: 0px 40px;
    -webkit-transform-origin: 0px 40px;
    transform-origin: 0px 40px;
    background: #777777;
    opacity: 1;
  }
}
@-webkit-keyframes animate-round {
  /* line 177, ../../src/sass/loader.scss */
  0% {
    -moz-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -moz-transform-origin: 0px 40px;
    -ms-transform-origin: 0px 40px;
    -o-transform-origin: 0px 40px;
    -webkit-transform-origin: 0px 40px;
    transform-origin: 0px 40px;
    background: #777777;
    opacity: 1;
  }

  /* line 181, ../../src/sass/loader.scss */
  15% {
    opacity: 1;
  }

  /* line 183, ../../src/sass/loader.scss */
  50% {
    opacity: 1;
    background: #000064;
  }

  /* line 186, ../../src/sass/loader.scss */
  100% {
    -moz-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -moz-transform-origin: 0px 40px;
    -ms-transform-origin: 0px 40px;
    -o-transform-origin: 0px 40px;
    -webkit-transform-origin: 0px 40px;
    transform-origin: 0px 40px;
    background: #777777;
    opacity: 1;
  }
}
@-ms-keyframes animate-round {
  /* line 177, ../../src/sass/loader.scss */
  0% {
    -moz-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -moz-transform-origin: 0px 40px;
    -ms-transform-origin: 0px 40px;
    -o-transform-origin: 0px 40px;
    -webkit-transform-origin: 0px 40px;
    transform-origin: 0px 40px;
    background: #777777;
    opacity: 1;
  }

  /* line 181, ../../src/sass/loader.scss */
  15% {
    opacity: 1;
  }

  /* line 183, ../../src/sass/loader.scss */
  50% {
    opacity: 1;
    background: #000064;
  }

  /* line 186, ../../src/sass/loader.scss */
  100% {
    -moz-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -moz-transform-origin: 0px 40px;
    -ms-transform-origin: 0px 40px;
    -o-transform-origin: 0px 40px;
    -webkit-transform-origin: 0px 40px;
    transform-origin: 0px 40px;
    background: #777777;
    opacity: 1;
  }
}
@-o-keyframes animate-round {
  /* line 177, ../../src/sass/loader.scss */
  0% {
    -moz-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    transform:  scale(1, 1) rotateZ(0deg) translate(0px, 0px) skew(0deg, 0deg);
    -moz-transform-origin: 0px 40px;
    -ms-transform-origin: 0px 40px;
    -o-transform-origin: 0px 40px;
    -webkit-transform-origin: 0px 40px;
    transform-origin: 0px 40px;
    background: #777777;
    opacity: 1;
  }

  /* line 181, ../../src/sass/loader.scss */
  15% {
    opacity: 1;
  }

  /* line 183, ../../src/sass/loader.scss */
  50% {
    opacity: 1;
    background: #000064;
  }

  /* line 186, ../../src/sass/loader.scss */
  100% {
    -moz-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -ms-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -o-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -webkit-transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    transform:  scale(1, 1) rotateZ(360deg) translate(0px, 0px) skew(0deg, 0deg);
    -moz-transform-origin: 0px 40px;
    -ms-transform-origin: 0px 40px;
    -o-transform-origin: 0px 40px;
    -webkit-transform-origin: 0px 40px;
    transform-origin: 0px 40px;
    background: #777777;
    opacity: 1;
  }
}
@-moz-keyframes shimmer {
  /* line 195, ../../src/sass/loader.scss */
  0% {
    opacity: 1;
  }

  /* line 197, ../../src/sass/loader.scss */
  100% {
    opacity: 0.2;
  }
}
@-webkit-keyframes shimmer {
  /* line 195, ../../src/sass/loader.scss */
  0% {
    opacity: 1;
  }

  /* line 197, ../../src/sass/loader.scss */
  100% {
    opacity: 0.2;
  }
}
@-ms-keyframes shimmer {
  /* line 195, ../../src/sass/loader.scss */
  0% {
    opacity: 1;
  }

  /* line 197, ../../src/sass/loader.scss */
  100% {
    opacity: 0.2;
  }
}
@-o-keyframes shimmer {
  /* line 195, ../../src/sass/loader.scss */
  0% {
    opacity: 1;
  }

  /* line 197, ../../src/sass/loader.scss */
  100% {
    opacity: 0.2;
  }
}
@-moz-keyframes fade-in {
  /* line 203, ../../src/sass/loader.scss */
  0% {
    opacity: 0;
    color: #777777;
  }

  /* line 206, ../../src/sass/loader.scss */
  100% {
    opacity: 1;
    color: #000064;
  }
}
@-webkit-keyframes fade-in {
  /* line 203, ../../src/sass/loader.scss */
  0% {
    opacity: 0;
    color: #777777;
  }

  /* line 206, ../../src/sass/loader.scss */
  100% {
    opacity: 1;
    color: #000064;
  }
}
@-ms-keyframes fade-in {
  /* line 203, ../../src/sass/loader.scss */
  0% {
    opacity: 0;
    color: #777777;
  }

  /* line 206, ../../src/sass/loader.scss */
  100% {
    opacity: 1;
    color: #000064;
  }
}
@-o-keyframes fade-in {
  /* line 203, ../../src/sass/loader.scss */
  0% {
    opacity: 0;
    color: #777777;
  }

  /* line 206, ../../src/sass/loader.scss */
  100% {
    opacity: 1;
    color: #000064;
  }
}
/* line 2, ../../src/sass/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 1, ../../src/sass/tgs.scss */
#main {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
  /*margin-top	:		50px;*/
}

/* line 9, ../../src/sass/tgs.scss */
#map-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* line 14, ../../src/sass/tgs.scss */
#marker-canvas {
  /*-webkit-transform		:		scale3d(2,2,2);*/
}

/* line 17, ../../src/sass/tgs.scss */
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

/* line 23, ../../src/sass/tgs.scss */
.fill {
  fill: #fff;
}

/* line 27, ../../src/sass/tgs.scss */
.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

/* line 34, ../../src/sass/tgs.scss */
.location {
  opacity: 0.5;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes pulse {
  /* line 41, ../../src/sass/tgs.scss */
  0% {
    /*-webkit-transform: scale3d(1,1,1);*/
    transform: scale(1);
  }

  /* line 45, ../../src/sass/tgs.scss */
  100% {
    /*-webkit-transform: scale3d(4,4,4);*/
    transform: scale(3);
  }
}
/* line 51, ../../src/sass/tgs.scss */
#fb_app {
  position: absolute;
  z-index: 20000;
  bottom: 20px;
  left: 30px;
}

/* line 58, ../../src/sass/tgs.scss */
.mvs {
  opacity: 0 !important;
}

/* line 66, ../../src/sass/tgs.scss */
.grade-12 {
  opacity: 1;
}

/* line 66, ../../src/sass/tgs.scss */
.grade-11 {
  opacity: 1;
}

/* line 66, ../../src/sass/tgs.scss */
.grade-10 {
  opacity: 1;
}

/* line 66, ../../src/sass/tgs.scss */
.grade-9 {
  opacity: 1;
}

/* line 72, ../../src/sass/tgs.scss */
#location-title {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  /*-webkit-transition	:		all 400ms ease-in;*/
  /*-webkit-transition-delay : 1000ms;*/
}
/* line 81, ../../src/sass/tgs.scss */
#location-title p {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

/* line 92, ../../src/sass/tgs.scss */
.marker-type {
  position: relative;
}
/* line 95, ../../src/sass/tgs.scss */
.marker-type .icon {
  width: 16px;
  height: 16px;
  display: block;
  /*float:left;*/
  border-radius: 8px;
  position: absolute;
  left: 8px;
  top: 6px;
}
/* line 106, ../../src/sass/tgs.scss */
.marker-type li {
  display: block;
  background: white;
  position: relative;
  /*width:70%;*/
  margin: 10px;
  float: right;
  /*padding:5px;*/
  width: 110px;
  height: 30px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
/* line 119, ../../src/sass/tgs.scss */
.marker-type h2 {
  padding-right: 15px;
  text-align: center;
  position: relative;
  /*float:right;*/
  text-indent: 24px;
  display: inline-block;
  font-family: Helvetica;
  line-height: 28px;
  font-size: 12px;
  /*text-transform : uppercase;*/
}

/* line 133, ../../src/sass/tgs.scss */
.panel {
  width: 170px;
  text-align: center;
  /*height			:		200px;*/
  display: block;
  background: #f2ecdf;
  position: absolute;
  z-index: 3000;
}

/* line 143, ../../src/sass/tgs.scss */
.people {
  bottom: 0px;
  left: 0px;
  padding: 20px;
}

/* line 149, ../../src/sass/tgs.scss */
.year {
  bottom: 50px;
  right: 50px;
  padding: 20px;
  display: none;
}

/* line 156, ../../src/sass/tgs.scss */
.dropdown {
  position: relative;
  display: block;
}

/* line 161, ../../src/sass/tgs.scss */
.location.y2010-y2011,
.location.y2011-y2012,
.location.y2012-y2013 {
  fill: #5ba4ae;
}

/* line 167, ../../src/sass/tgs.scss */
.student {
  fill: #808285;
}

/* line 170, ../../src/sass/tgs.scss */
.faculty {
  fill: #deba51;
}

/* line 173, ../../src/sass/tgs.scss */
.location {
  fill: #c41230;
}

/* line 176, ../../src/sass/tgs.scss */
.tedxteen {
  fill: #d26436;
}

/* line 179, ../../src/sass/tgs.scss */
.facebook {
  fill: #417997;
}

/* line 15, ../../src/sass/screen.scss */
body, html {
  /*height							:				100%;*/
}

/* line 18, ../../src/sass/screen.scss */
body {
  background: black;
}

/* line 22, ../../src/sass/screen.scss */
#content {
  position: absolute;
  height: auto;
  width: 140px;
  display: block;
  background: rgba(255, 255, 255, 0.85);
  /*box-shadow	:	0px 0px 12px rgba( 0, 0, 0, 0.26);*/
  padding-bottom: 12px;
  border-radius: 12px;
  border: 2px solid #d3d3d3;
  padding-left: 12px;
  padding-right: 12px;
  left: 40px;
  top: 40px;
  z-index: 100;
}

/* line 39, ../../src/sass/screen.scss */
h1, span {
  font-size: 14px;
  text-transform: capitalize;
  text-align: center;
  font-family: 'Helvetica';
}

/* line 46, ../../src/sass/screen.scss */
h1 {
  text-decoration: underline;
  font-weight: bold;
  margin-top: 12px;
}

/* line 52, ../../src/sass/screen.scss */
span {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 3px;
  display: block;
  font-size: 12px;
}

/* line 60, ../../src/sass/screen.scss */
#marker-canvas {
  position: absolute;
  z-index: 100;
}

/* line 65, ../../src/sass/screen.scss */
#svg-map {
  position: absolute;
  z-index: 1;
}
