/* line 1, ../../src/sass/tgs.scss */
#main {
  width: auto;
  height: auto;
  margin: 0 auto;
  display: block;
  /*margin-top	:		50px;*/
}

/* line 9, ../../src/sass/tgs.scss */
#map-container {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

/* line 14, ../../src/sass/tgs.scss */
#marker-canvas {
  /*-webkit-transform		:		scale3d(2,2,2);*/
}

/* line 17, ../../src/sass/tgs.scss */
.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

/* line 23, ../../src/sass/tgs.scss */
.fill {
  fill: #fff;
}

/* line 27, ../../src/sass/tgs.scss */
.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}

/* line 34, ../../src/sass/tgs.scss */
.location {
  opacity: 0.5;
  -webkit-animation-name: pulse;
  -webkit-animation-duration: 1s;
}

@-webkit-keyframes pulse {
  /* line 41, ../../src/sass/tgs.scss */
  0% {
    /*-webkit-transform: scale3d(1,1,1);*/
    transform: scale(1);
  }

  /* line 45, ../../src/sass/tgs.scss */
  100% {
    /*-webkit-transform: scale3d(4,4,4);*/
    transform: scale(3);
  }
}
/* line 51, ../../src/sass/tgs.scss */
#fb_app {
  position: absolute;
  z-index: 20000;
  bottom: 20px;
  left: 30px;
}

/* line 58, ../../src/sass/tgs.scss */
.mvs {
  opacity: 0 !important;
}

/* line 66, ../../src/sass/tgs.scss */
.grade-12 {
  opacity: 1;
}

/* line 66, ../../src/sass/tgs.scss */
.grade-11 {
  opacity: 1;
}

/* line 66, ../../src/sass/tgs.scss */
.grade-10 {
  opacity: 1;
}

/* line 66, ../../src/sass/tgs.scss */
.grade-9 {
  opacity: 1;
}

/* line 72, ../../src/sass/tgs.scss */
#location-title {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
  z-index: 1000;
  opacity: 0;
  /*-webkit-transition	:		all 400ms ease-in;*/
  /*-webkit-transition-delay : 1000ms;*/
}
/* line 81, ../../src/sass/tgs.scss */
#location-title p {
  color: white;
  font-size: 40px;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
}

/* line 92, ../../src/sass/tgs.scss */
.marker-type {
  position: relative;
}
/* line 95, ../../src/sass/tgs.scss */
.marker-type .icon {
  width: 16px;
  height: 16px;
  display: block;
  /*float:left;*/
  border-radius: 8px;
  position: absolute;
  left: 8px;
  top: 6px;
}
/* line 106, ../../src/sass/tgs.scss */
.marker-type li {
  display: block;
  background: white;
  position: relative;
  /*width:70%;*/
  margin: 10px;
  float: right;
  /*padding:5px;*/
  width: 110px;
  height: 30px;
  border: 1px solid #d3d3d3;
  border-radius: 5px;
}
/* line 119, ../../src/sass/tgs.scss */
.marker-type h2 {
  padding-right: 15px;
  text-align: center;
  position: relative;
  /*float:right;*/
  text-indent: 24px;
  display: inline-block;
  font-family: Helvetica;
  line-height: 28px;
  font-size: 12px;
  /*text-transform : uppercase;*/
}

/* line 133, ../../src/sass/tgs.scss */
.panel {
  width: 170px;
  text-align: center;
  /*height			:		200px;*/
  display: block;
  background: #f2ecdf;
  position: absolute;
  z-index: 3000;
}

/* line 143, ../../src/sass/tgs.scss */
.people {
  bottom: 0px;
  left: 0px;
  padding: 20px;
}

/* line 149, ../../src/sass/tgs.scss */
.year {
  bottom: 50px;
  right: 50px;
  padding: 20px;
  display: none;
}

/* line 156, ../../src/sass/tgs.scss */
.dropdown {
  position: relative;
  display: block;
}

/* line 161, ../../src/sass/tgs.scss */
.student {
  fill: #808285;
}

/* line 164, ../../src/sass/tgs.scss */
.faculty {
  fill: #deba51;
}

/* line 167, ../../src/sass/tgs.scss */
.location {
  fill: #c41230;
}

/* line 170, ../../src/sass/tgs.scss */
.tedxteen {
  fill: #d26436;
}

/* line 173, ../../src/sass/tgs.scss */
.facebook {
  fill: #417997;
}

/* line 177, ../../src/sass/tgs.scss */
.future-location {
  fill: #a0393e;
}

/* line 181, ../../src/sass/tgs.scss */
.past-location {
  fill: #5ba4ae;
}

/* line 187, ../../src/sass/tgs.scss */
.country {
  /*fill:$cntry !important;*/
}
